@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

html,
button {
  font-family: "Poppins", serif;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--color-light-gray);
}

ul {
  padding: 0;
  margin: 0;
  display: flex;
}

li {
  list-style-type: none;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

.card h3 {
  padding: var(--space-big) var(--space-medium) var(--space-medium);
  margin: 0px;
  font-size: 1.1rem;
  height: 60px;
}

input {
  font-family: "Poppins", serif;
}

.go-back-button {
  border: none;
  background-color: transparent;
  color: var(--color-gray);
  cursor: pointer;
  text-decoration: underline;
}