/* Colors */
:root {
  --color-light-gray: #F5F5F5;
  --color-gray: #777a7a;
  --color-green: #2A5032;
  --color-emerald: #3b9840;
  --color-lime: #D0DF7F;
  --color-light-yellow: #FDF8E2;
  --color-orange: #E99053;
  --color-white: #FFFFFF;
  --color-red: #DA1B1C;
}

/* Space */
:root {
  --space-small: 8px;
  --space-medium: 16px;
  --space-big: 32px;
}

