@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

html,
button {
  font-family: "Poppins", serif;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--color-light-gray);
}

ul {
  padding: 0;
  margin: 0;
  display: flex;
}

li {
  list-style-type: none;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
  /* color: #40a945; */
}