@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

html,
button {
  font-family: "Poppins", serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-gray);
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}