.go-back-btn-container {
  margin: var(--space-big) var(--space-medium);
}

@media (min-width: 425px) {
  .go-back-btn-container {
    margin: var(--space-big) var(--space-big);
  }
}

@media (min-width: 768px) {
  .go-back-btn-container {
    margin: 48px auto 0 var(--space-big);
    max-width: 960px;
  }

  .recipes-page-container{
    margin-bottom: 50px;
  }
}

@media (min-width: 2560px) {
  .go-back-btn-container {
    margin: 48px auto 0 590px;
  }
}