.selected-ingredients-container {
  margin-top: var(--space-small);
  padding: var(--space-medium);
  background-color: var(--color-white);
  border-radius: var(--space-small);
  box-shadow: 5px 10px 18px #adabab;
}

.selected-ingredient {
  display: flex;
  align-items: center;
  margin-right: var(--space-small);
  margin-top: var(--space-small);
}

.close-button {
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  height: 20px;
  cursor: pointer;
}

.selected-ingredients-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: var(--space-medium);
}

.button-container {
  display: flex;
  justify-content: space-around;
}

.search-button,
.clear-button {
  border-radius: var(--space-small);
  border: 1px;
  background-color: var(--color-emerald);
  color: var(--color-white);
  padding: var(--space-small) var(--space-medium);
  transition: 0.4s;
  cursor: pointer;
}

.search-button:not(:disabled):hover,
.clear-button:not(:disabled):hover {
  background-color: var(--color-white);
  border: 1px solid var(--color-emerald);
  color: var(--color-emerald);
}

.search-button:disabled,
.clear-button:disabled {
  position: relative;
  cursor: not-allowed;
  opacity: 1;
  background-color: var(--color-gray);
}

.search-button:disabled::after,
.clear-button:disabled::after {
  content: "Select at least one ingredient to search";
  position: absolute;
  bottom: -90%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;

}

.search-button:disabled:hover::after,
.clear-button:disabled:hover::after {
  opacity: 1;
}
